button {
  border: none;
  background: transparent;
}

button:focus {
  outline-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 1.3rem 1.5rem;
  transition: all 0.2s ease;
  margin-left: 2em;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 35px;
  background: rgba(0, 255, 70, 0.5);
  width: 4rem;
  height: 4rem;
  transition: all 0.3s ease;
}

.cta .logo {
  position: relative;
  stroke: white;
  fill: white;
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.cta #label {
  color: white;
  position: relative;
  line-height: 18px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta .arrow {
  position: relative;
  top: 0;
  margin-left: 1em;
  fill: none;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-0.5em);
  transition: all 0.3s ease;
}

.cta:hover > #label {
  color: black;
}

.cta:hover:before {
  width: 100%;
  background: rgb(0, 255, 70);
  cursor: pointer;
}

.cta:hover .arrow {
  transform: translateX(0);
  stroke: #000;
}
.cta:hover .logo {
  stroke: #000;
  fill: #000;
}

.cta:active {
  transform: scale(0.96);
}

#label {
  font-size: 24px;
}

@media screen and (min-width: 321px) and (max-width: 414px) {
  #label {
    font-size: 18px;
  }
}
@media screen and (max-width: 320px) {
  #label {
    font-size: 16px;
  }
}
