.prize-info {
  text-align: center;
}

.prizes0:hover {
  background-color: #db4437;
  cursor: pointer;
  color: black;
  animation: fade-in-red 1s ease-out;
}

.prizes1:hover {
  background-color: #f4b400;
  cursor: pointer;
  color: black;
  animation: fade-in-yellow 0.7s ease-out;
}

.prizes2:hover {
  background-color: #0f9d58;
  cursor: pointer;
  color: black;
  animation: fade-in-green 0.7s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-red {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: #db4437;
  }
}

@keyframes fade-in-yellow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: #f4b400;
  }
}

@keyframes fade-in-blue {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: #4285f4;
  }
}

@keyframes fade-in-green {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: #0f9d58;
  }
}
