.tracks:hover > svg {
  cursor: pointer;
}

.prizes:hover > svg {
  cursor: pointer;
}

.faq:hover > svg {
  cursor: pointer;
}

.info:hover > svg {
  cursor: pointer;
}
#jet {
  width: 640px;
}
#heading {
  font-size: 100px;
  margin-top: 20vh !important;
}
#btn {
  align-content: center;
}
@media screen and (min-width: 767px) {
  #smj {
    margin-top: 90vh;
  }
}
@media screen and (max-width: 767px) {
  #mobile {
    display: block;
    margin-top: 90vh;
  }
  #first-row,
  #second-row {
    display: none;
  }
  #heading {
    margin-top: 12vh !important;
    font-size: 50px;
  }
  #btn {
    margin-top: 87vh !important;
    margin-left: 2px;
  }
  #jet {
    width: 320px;
  }
  #down-arrow {
    display: none;
  }
  #smj {
    margin-top: 100px;
  }
  #container {
    margin: 0px !important;
  }

  .img-svg {
    width: 140px;
    height: 140px;
    position: relative;
  }
  .title {
    font-family: Blockletter;
  }
}
