html, body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgba(3, 3, 4, 255);
}

@font-face {
	font-family: "Blockletter";
	src: url(./assets/fonts/Blockletter.otf) format("opentype");
}

@font-face {
	font-family: "Poppins";
	src: url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}
